@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table class="table">
    <form method="post">
        @foreach (var p in Model.Pubs)
        {
            <tr>
                <td>Jméno: @p.Name</td>
                <td>Lokace: @p.Municipality</td>
                <td><a asp-page="./Detail" asp-route-id="@p.Id">Detail</a></td>
                <td>
                    <input asp-for="@Model.idToDelete" type="radio" value="@p.Id" />
                </td>
            </tr>
        }
        <button type="submit">Odeslat</button>
    </form>
</table>
<a href="@Url.Page("./AddToDatabase")"><button>Přidat prvky</button></a>
